body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: normal;
  font-size: 14px;
  min-height: 100vh;
  background-color: #f3f4f8;
  overflow-x: hidden; }

a[role="button"] {
  display: inline-block;
  color: unset; }

button:focus {
  outline: none; }

a {
  color: inherit; }
  a:hover {
    color: inherit;
    text-decoration: none; }

.mt-30 {
  margin-top: 30px; }

.admin-wrap {
  padding: 20px 0; }

#home, #home > .container, .footer .row, .solucao__more, .avaliacao__img, #banner, #banner > .container, .media-upload {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 #d6314f; }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(214, 49, 79, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(214, 49, 79, 0); } }

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 #d6314f;
    box-shadow: 0 0 0 0 #d6314f; }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(214, 49, 79, 0);
    box-shadow: 0 0 0 10px rgba(214, 49, 79, 0); }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(214, 49, 79, 0);
    box-shadow: 0 0 0 0 rgba(214, 49, 79, 0); } }

.pulse {
  box-shadow: 0 0 0 #d6314f69;
  animation: pulse 2s infinite; }

.btn-main--square, .btn-default, .btn-main, .btn-main--outline {
  border-radius: 30px;
  padding: 14px 40px;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
  box-shadow: 2.485px 2.485px 21px 0px rgba(0, 0, 0, 0.068);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.btn-main--square {
  border-radius: 6px; }

.btn-default {
  background-color: #8fc152;
  text-transform: uppercase;
  color: #fff; }

.btn-main {
  background-color: #8fc152;
  text-transform: uppercase;
  color: #ffffff  !important;
  text-align: center; }
  .btn-main.active, .btn-main[aria-expanded="true"] {
    background-color: #5b7f2e; }
  .btn-main:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    color: #fff; }

.btn-main--square {
  background-color: #8fc152;
  text-transform: uppercase;
  color: #ffffff  !important;
  text-align: center; }
  .btn-main--square.active, .btn-main--square[aria-expanded="true"] {
    background-color: #5b7f2e; }
  .btn-main--square:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    color: #fff; }

.btn-main--outline {
  background-color: transparent;
  border: 1.5px solid #8fc152;
  border-radius: 30px;
  text-transform: uppercase;
  color: #8fc152 !important;
  text-align: center; }
  .btn-main--outline:hover {
    background-color: #8fc152;
    color: #fff !important; }

#home {
  position: relative;
  padding-top: 190px;
  width: 100%;
  min-height: 60vh;
  height: auto;
  background-size: cover;
  background-position: bottom bottom;
  background-attachment: fixed;
  opacity: 1;
  transform: scale(1);
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }
  #home.non-webp {
    background-image: url(../images/banner.png); }
  #home.webp {
    background-image: url(../images/banner.webp); }
  #home > .container {
    flex-direction: column;
    align-items: center; }
  #home.scrolled {
    opacity: 0; }
    @media screen and (min-width: 998px) {
      #home.scrolled {
        transform: matrix(1.2, 0, 0, 1.2, 0, 0); } }
  @media screen and (max-width: 998px) {
    #home {
      padding-top: 120px;
      min-height: 50vh; } }
  #home .title {
    font-weight: 400;
    letter-spacing: -2px;
    text-transform: uppercase;
    color: #fff;
    line-height: 60px;
    font-size: 40px;
    text-align: center;
    -webkit-text-shadow: -1px -2px 136px -47px #d63150;
    -moz-text-shadow: -1px -2px 136px -47px #d63150;
    text-shadow: -1px -2px 136px -47px #d63150; }
    #home .title span {
      padding: 0 5px;
      display: inline-block;
      letter-spacing: 5px; }
      #home .title span.bold {
        display: block;
        font-weight: bold;
        letter-spacing: 10px;
        font-size: 55px; }
      @media screen and (max-width: 992px) {
        #home .title span {
          font-size: 30px;
          line-height: 50px; }
          #home .title span.bold {
            letter-spacing: 7px;
            font-size: 40px; } }
      @media screen and (max-width: 768px) {
        #home .title span {
          line-height: 30px;
          font-size: 20px; }
          #home .title span.bold {
            letter-spacing: 5px;
            font-size: 35px; } }
  #home .search-wrap {
    width: 70%;
    position: relative; }
    @media screen and (max-width: 998px) {
      #home .search-wrap {
        width: 100%; } }
  #home .search-bar {
    margin: 20px 0;
    height: 55px;
    width: 100%;
    background-color: #fff;
    border-radius: 40px;
    box-shadow: 1px 1px 21px rgba(0, 0, 0, 0.137);
    color: #a3a3a3;
    border: none;
    outline: none;
    padding: 0 20px 0 30px; }
  #home .search-send {
    height: 50px;
    width: 60px;
    font-size: 20px;
    border-radius: 40px;
    background-color: #8fc152;
    color: #fff;
    text-align: center;
    line-height: 20px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 22px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    #home .search-send:hover {
      transform: scale(1.1); }

.footer {
  padding: 60px 0 30px 0; }
  .footer .row {
    justify-content: center;
    align-items: center; }
  .footer__developed p {
    color: #7b8b8e;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 0.4rem;
    padding: 0; }
    .footer__developed p a {
      color: inherit; }

#main-nav {
  padding: 30px 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  #main-nav .navbar-brand > a > img {
    height: 70px;
    width: auto;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  #main-nav .navbar-toggler span {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #fff; }
  #main-nav .navbar-toggler span + span {
    margin-top: 4px;
    width: 18px; }
  #main-nav .navbar-nav li {
    padding: 0 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
    #main-nav .navbar-nav li > a {
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      #main-nav .navbar-nav li > a:hover {
        color: #444444; }
    #main-nav .navbar-nav li.nav-btn {
      margin-left: 0px; }
      #main-nav .navbar-nav li.nav-btn > a {
        text-align: center;
        padding: 10px 34px !important; }
      #main-nav .navbar-nav li.nav-btn:hover > a {
        color: #fff; }

#main-header.shrink #main-nav {
  background: #8fc152;
  padding: 15px 10px;
  -webkit-box-shadow: 2px 6px 46px -15px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 6px 46px -15px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 6px 46px -15px rgba(0, 0, 0, 0.5); }
  #main-header.shrink #main-nav .navbar-brand > a > img {
    height: 35px; }
  #main-header.shrink #main-nav .navbar-nav li > a {
    color: #fff; }
    #main-header.shrink #main-nav .navbar-nav li > a:hover {
      color: #444444; }
  #main-header.shrink #main-nav .navbar-nav li.nav-btn > a {
    color: #fff; }

@media screen and (max-width: 992px) {
  #main-header #main-nav {
    padding: 15px 10px; }
    #main-header #main-nav .navbar-brand > a > img {
      height: 50px;
      width: auto; }
    #main-header #main-nav .navbar-collapse {
      padding: 10px 5px; }
    #main-header #main-nav .navbar-nav li {
      padding: 8px 0;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      #main-header #main-nav .navbar-nav li:not(:last-child) {
        border-bottom: 0.4px solid rgba(255, 255, 255, 0.219); }
      #main-header #main-nav .navbar-nav li > a {
        font-weight: bold;
        text-align: left;
        text-transform: uppercase;
        color: #fff;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
        #main-header #main-nav .navbar-nav li > a:hover {
          color: #8fc152; }
      #main-header #main-nav .navbar-nav li.nav-btn {
        margin-top: 8px;
        margin-left: 0; } }

.solucao {
  height: 370px;
  background: #fff;
  border-radius: 4px;
  margin: 20px 0;
  box-shadow: 2.485px 2.485px 21px 0px rgba(0, 0, 0, 0.048); }
  .solucao__img {
    height: 40%;
    position: relative; }
    .solucao__img img {
      object-fit: cover;
      height: 100%;
      width: 100%; }
  .solucao__categoria {
    position: absolute;
    top: 78%;
    right: 50%;
    transform: translateX(50%);
    background-color: #fff;
    border-radius: 15px;
    padding: 10px 20px 15px 20px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: #8fc152;
    text-align: center; }
  .solucao__text {
    padding: 15px 30px;
    height: 40%;
    text-align: left;
    width: 100%; }
    .solucao__text__title {
      color: #2c2c2c;
      font-size: 16px;
      font-weight: 600;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
    .solucao__text__desc {
      height: 70px;
      overflow: hidden; }
      .solucao__text__desc p {
        color: #a1a1a1;
        font-size: 14px;
        font-weight: 300; }
  .solucao__more {
    height: 20%;
    box-shadow: 2.485px 2.485px 21px 0px rgba(0, 0, 0, 0.041);
    justify-content: center;
    align-items: center; }

.solucao-slide .carousel-item {
  height: 300px !important; }

.solucao-slide img {
  height: 100% !important;
  border-radius: 3px !important;
  object-fit: cover !important; }

.perfil-solucao .inner-title.name {
  font-size: 40px;
  color: #444444; }

.avaliacao {
  display: flex;
  min-height: 120px;
  height: auto;
  width: 100%;
  border-radius: 6px;
  padding: 20px 0; }
  .avaliacao__content {
    background: #fff;
    box-shadow: 1px 1px 21px rgba(0, 0, 0, 0.072);
    padding: 15px 25px;
    border-radius: 5%; }
  .avaliacao__title {
    font-weight: bold;
    color: #8fc152; }
  .avaliacao__desc, .avaliacao__author {
    font-weight: 400;
    color: #727272; }
  .avaliacao__author {
    font-size: 12px;
    font-style: italic;
    padding: 0;
    margin: 0; }
  .avaliacao__img {
    flex-basis: 30%;
    justify-content: center;
    align-items: center;
    padding-right: 15px; }
    .avaliacao__img img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      border-radius: 5%;
      box-shadow: 1px 1px 21px rgba(0, 0, 0, 0.041); }

.pagination__list__item {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #8fc152;
  color: #fff;
  text-align: center;
  margin: 0 1px; }
  .pagination__list__item:hover {
    color: #fff !important; }
  .pagination__list__item.active {
    background-color: #444444; }

.pagination__list__item--dots {
  display: inline-block;
  letter-spacing: 4px;
  padding: 0 3px; }

#banner {
  position: relative;
  padding-top: 190px;
  width: 100%;
  min-height: 40vh;
  height: auto;
  background-size: cover;
  background-position: bottom bottom;
  background-attachment: fixed;
  opacity: 1;
  transform: scale(1);
  padding-bottom: 30px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }
  #banner.non-webp {
    background-image: url(../images/banner.png); }
  #banner.webp {
    background-image: url(../images/banner.webp); }
  #banner > .container {
    flex-direction: column;
    align-items: center; }
  #banner.scrolled {
    opacity: 0; }
    @media screen and (min-width: 998px) {
      #banner.scrolled {
        transform: matrix(1.2, 0, 0, 1.2, 0, 0); } }
  @media screen and (max-width: 998px) {
    #banner {
      padding-top: 120px;
      min-height: 30vh; } }
  #banner .title {
    font-weight: 400;
    letter-spacing: -2px;
    text-transform: uppercase;
    color: #fff;
    line-height: 60px;
    font-size: 40px;
    text-align: center;
    -webkit-text-shadow: -1px -2px 136px -47px #d63150;
    -moz-text-shadow: -1px -2px 136px -47px #d63150;
    text-shadow: -1px -2px 136px -47px #d63150; }
    #banner .title span {
      padding: 0 5px;
      display: inline-block;
      letter-spacing: 5px; }
      #banner .title span.bold {
        display: block;
        font-weight: bold;
        letter-spacing: 10px;
        font-size: 55px; }
      @media screen and (max-width: 992px) {
        #banner .title span {
          font-size: 30px;
          line-height: 50px; }
          #banner .title span.bold {
            letter-spacing: 7px;
            font-size: 40px; } }
      @media screen and (max-width: 768px) {
        #banner .title span {
          line-height: 30px;
          font-size: 20px; }
          #banner .title span.bold {
            letter-spacing: 5px;
            font-size: 35px; } }

.form-group label {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300; }

.form-info {
  font-style: italic;
  color: #a3a3a3; }

.form-title {
  font-weight: 500;
  margin-top: 20px; }

.selectpicker-button {
  margin: 0 0 !important;
  padding: 0 25px !important; }

.dropdown.bootstrap-select {
  margin: 4px 0 0 0 !important; }

.form-control, .selectpicker-button {
  border-radius: 4px;
  border: none;
  background: #fff;
  outline: none;
  min-height: 45px;
  box-shadow: 1px 1px 21px rgba(0, 0, 0, 0.032);
  color: #a3a3a3;
  margin: 5px 0;
  padding: 0 25px; }
  .form-control::placeholder, .selectpicker-button::placeholder {
    color: #b6b6b6; }
  .form-control:focus, .selectpicker-button:focus {
    border-color: rgba(82, 189, 60, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(62, 158, 42, 0.6); }

textarea.form-control {
  padding-top: 10px; }

select.form-control, .selectpicker-button {
  height: 45px !important; }

.media-upload {
  height: auto;
  width: 100%;
  margin: 5px 0;
  padding: 20px 10px;
  box-shadow: 1px 1px 21px rgba(0, 0, 0, 0.032);
  border-radius: 4px;
  background-color: #fff;
  color: #a3a3a3;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .media-upload__text {
    padding-top: 5px;
    margin: 0; }
  .media-upload__input {
    display: none; }

.responsive-table {
  width: 100%;
  overflow-x: auto; }

.flat-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px; }
  .flat-table th {
    padding: 0px 20px 15px 20px; }
  .flat-table tbody tr {
    background: #fff;
    min-height: 120px;
    height: auto;
    width: 100%;
    box-shadow: 1px 1px 21px rgba(0, 0, 0, 0.072);
    border-radius: 6px; }
  .flat-table tbody td {
    padding: 25px 20px;
    color: #9b9b9b;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; }
    .flat-table tbody td:first-child {
      font-weight: 600;
      color: #5184e2; }

.acao {
  background: none;
  border: none;
  outline: none;
  display: inline-block;
  line-height: none;
  cursor: pointer;
  -webkit-transition: ease-in-out 0.3s ease-in-out;
  -moz-transition: ease-in-out 0.3s ease-in-out;
  -ms-transition: ease-in-out 0.3s ease-in-out;
  -o-transition: ease-in-out 0.3s ease-in-out;
  transition: ease-in-out 0.3s ease-in-out; }
  .acao:hover {
    text-decoration: none;
    color: #fff;
    transform: scale(1.1); }
  .acao .icon {
    display: inline;
    padding: 10px;
    background-color: #5184e2;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    color: #fff; }
    .acao .icon.danger {
      background-color: #db334f; }
    .acao .icon.warning {
      background-color: #db9233; }
    .acao .icon.success {
      background-color: #67cc6f; }

#adminPanel {
  margin: 20px 0;
  background-color: #fff;
  box-shadow: 1px 1px 21px rgba(0, 0, 0, 0.032);
  padding: 20px 25px;
  border-radius: 3px; }

.admin-nav__list {
  list-style: none;
  padding: 5px 0;
  margin: 5px 0 0 0; }
  .admin-nav__list:not(:last-child) {
    border-bottom: 1px solid rgba(36, 179, 59, 0.095); }
  .admin-nav__list__item {
    padding: 5px 0 5px 20px;
    font-weight: 400;
    color: #535353; }
    .admin-nav__list__item.active {
      color: #5b7f2e; }
    .admin-nav__list__item a {
      color: inherit; }
    .admin-nav__list__item .fa {
      color: #707070; }
  .admin-nav__list__item--title {
    padding: 5px 0;
    font-weight: 500;
    color: #8fc152; }

.inner-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #8fc152; }
  .inner-title.uppercase {
    text-transform: uppercase; }
  .inner-title.small {
    font-weight: 600;
    font-size: 30px;
    line-height: 15px;
    display: block;
    color: #303030; }
  @media screen and (max-width: 576px) {
    .inner-title {
      font-size: 18px; }
      .inner-title .small {
        font-size: 13px; } }

.inner-desc {
  padding: 10px 0;
  font-size: 17px;
  letter-spacing: 2px;
  text-align: center;
  font-weight: lighter;
  margin: 0;
  color: #868686; }
  @media screen and (max-width: 576px) {
    .inner-desc {
      font-size: 16px; } }

.line--main, .line {
  margin: 0 auto 20px auto;
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  -o-transform: scale(0.7);
  transform: scale(0.7); }

.line--main {
  background-color: #8fc152;
  border: 2px solid #8fc152; }

.line {
  background-color: #444444;
  border: 2px solid #444444; }

.color-main {
  color: #8fc152; }

.color-black {
  color: #444444; }
