<footer class="footer">
    <div class="row  wow fadeInUp">
        <div class="footer__developed">
            <p>© 2019 Copyright Embrapa</p>
            <p>desenvolvido com &lt;3 pela <b><a href="https://www.evolveme.com.br">Evolve</a></b> em parceria com <b>IFSUL<b> </p>
        </div>
    </div>
</footer>