//titles
.inner-title{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: $main-color;

    &.uppercase{
        text-transform: uppercase;
    }

    &.small{
        font-weight: 600;
        font-size: 30px;
        line-height: 15px;
        display: block;
        color: rgb(48, 48, 48);
    }

    @media screen and (max-width: $bp-sm) {
        font-size: 18px;
        .small{
            font-size: 13px;
        }
    }
}

.inner-desc{
    padding: 10px 0;
    font-size: 17px;
    letter-spacing: 2px;
    text-align: center;
    font-weight: lighter;
    margin: 0;
    color: rgb(134, 134, 134);

    @media screen and (max-width: $bp-sm) {
        font-size: 16px;
    }
}



//lines
%line{
    margin: 0 auto 20px auto;
    @include scale(0.7);
}

.line--main{
    @extend %line;
    background-color:$main-color;
    border: 2px solid $main-color;
}

.line{
    @extend %line;
    background-color:$main-black;
    border: 2px solid $main-black;
}

//colors
.color-main{
    color: $main-color;
}

.color-black{
    color: $main-black;
}
