.pagination__list {


    &__item {
        color: #fff;
        text-align: center;
        display: inline-block;
        
        a{
            padding: 10px 15px;
            border-radius: 3px;
            background-color: $main-color;
            margin: 0 1px;
            cursor: pointer;
        }

        &:hover{
            color: #fff !important;
        }

        &.active a{
            background-color: darken( $main-color, 20);
        }
    }

    &__item--dots {
        display: inline-block;
        letter-spacing: 4px;
        padding: 0 3px;
    }

}