<%- include('../includes/imports/head') %>
</head>

<body class="scrollbar-inner wow fadeIn">
    <%- include('../includes/components/mainheader') %>

    <main>
        <section id="banner" class="img-webp">
            <div class="container">
                <h1 class="title mb-3">
                    <span class="wow fadeIn" data-wow-delay="0.3s">Submeter</span>
                    <span class="wow bounceInUp bold" data-wow-delay="0.7s">Minha solução</span>
                </h1>
            </div>
        </section>
        <section>
            <div class="container text-center" style="min-height: 40vh">
                <div id="submit-actions" class="row pt-5">
                    <div class=" offset-md-3"></div>
                    <div class="col-6 col-md-3">
                        <button class="btn-main--square" data-toggle="collapse" data-target="#registerTab"
                            aria-expanded="true" data-parent="#collapseGroup" aria-controls="registerTab">Não sou
                            cadastrado</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <button class="btn-main--square" data-toggle="collapse" data-target="#loginTab"
                            aria-expanded="false" data-parent="#collapseGroup" aria-controls="loginTab">Já sou
                            cadastrado</button>
                    </div>
                    <div class="offset-md-3"></div>
                </div>
                <div id="collapseGroup">
                    <div id="registerTab" class="collapse show">
                        <form action="">
                            <div class="row pt-4">
                                <div class="offset-md-2"></div>
                                <div class="col-12 col-md-8">
                                    <div class="row">
                                        <div class="col-12 text-left">
                                            <h3 class="form-title font-weight-bold color-main">Formulário de cadastro
                                            </h3>
                                            <p class="form-info"><i class="fa fa-info-circle pr-1"></i>Preencha o
                                                formulário com dados da empresa e da primeira solução que quer
                                                cadastrar, nós analisaremos e enviaremos para você um código para criar
                                                uma
                                                conta!</p>
                                        </div>
                                        <div class="col-12 text-left">
                                            <h3 class="form-title">Dados da empresa</h3>
                                        </div>
                                        <div class="col-12">
                                            <input type="text" class="form-control" placeholder="Nome da empresa">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Email da empresa">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Nome do encarregado">
                                        </div>
                                        <div class="col-12 text-left">
                                            <h3 class="form-title">Dados da solução</h3>
                                            <p class="form-info"><i class="fa fa-info-circle pr-1"></i>Não se preocupe,
                                                você
                                                poderá editar ou submeter outras soluções da sua empresa com o login
                                                que
                                                vamos dispor a você. Essa informação é só para termos uma idéia.
                                            </p>
                                        </div>
                                        <div class="col-12">
                                            <input type="text" class="form-control" placeholder="Nome da solução">
                                        </div>
                                        <div class="col-md-6">
                                            <select type="text" class="form-control" placeholder="Tipo">
                                                <option value="">Aplicativo</option>
                                                <option value="">Sistema</option>
                                                <option value="">Software</option>
                                                <option value="">Website</option>
                                                <select>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" class="form-control" placeholder="Link até a solução">
                                        </div>
                                        <div class="col-12">
                                            <textarea type="text" class="form-control" rows="3"
                                                placeholder="Descrição da solução"></textarea>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn-main--square w-100 mt-2">Enviar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="offset-md-2"></div>
                            </div>
                        </form>
                    </div>
                    <div id="loginTab" class="collapse">
                        <form action="">
                            <div class="row pt-4">
                                <div class="offset-md-2"></div>
                                <div class="col-12 col-md-8">
                                    <div class="row">
                                        <div class="col-12 text-left">
                                            <h3 class="form-title font-weight-bold color-main">Formulário de login</h3>
                                            <p class="form-info"><i class="fa fa-info-circle pr-1"></i>Preencha o
                                                formulário com dados da empresa e da primeira solução que quer
                                                cadastrar, nós analisaremos e enviaremos para você um código para criar
                                                uma
                                                conta!</p>
                                        </div>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" placeholder="Usuário">
                                        </div>
                                        <div class="col-md-4">
                                            <input type="text" class="form-control" placeholder="Senha">
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn-main--square w-100 mt-2">Entrar</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="offset-md-2"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('../includes/components/footer')%>
</body>
<%- include('../includes/imports/end') %>